
/*General Styles and Layout */

.background1 {
  background-position: 0%;
background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;

}


body {
  display: flex;
  background-image: url(images/blueheart.png);
  background-size: cover;
  background-repeat: no-repeat;
 min-width: 100%;
  overflow: scroll;
  display: flex;
flex-direction: column;
display:table;
position: relative;
}

p {
  max-width: 200px;
}

 

/* Navigation*/


.topnav {
  background-color: transparent;
  top: 0;
  padding: 0px;
  color: black;
 left: 0;
 height: 10px;
 position: sticky;
 

}





ul {

  list-style-type: none;
  font-family: AvenirNextLTWO1-Medium, 'Avenir', sans-serif;
text-transform: uppercase;
  text-decoration-color: #Ef4922;
}

ul{
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 5px 10px;
  
}


/*Button Styles*/
button {
  align-items: right;
  background-color: #EF4922;
  border: none;
  border-radius:  30px;
  text-align: center;
  color:white;
  font-size: 20px;
padding: 14px 40 px;
text-decoration: none;
text-transform: uppercase;
position: relative;
float: right;
padding: 20px 20px;
margin-right: 20px;
}

button:hover {
  color:#Ef4922;
  background-color: white;
}


#col {
    column-count: 3;
}

/* Paragraph Styles*/
h1 {
  font-family: AvenirNextLTWO1-Medium, 'Avenir', sans-serif;
  text-transform: uppercase;
    display: flex;
    text-align: center;
    position: relative
    
}

h2 {
    font-family: AvenirNextLTWO1-Medium, 'Avenir', sans-serif;
    font-size: xx-large;
text-transform: uppercase;
text-align: center;
margin-right: 20px;
margin-left: 200px;
max-width: 400px;
}

h3 {
    font-family: AvenirNextLTWO1-Medium, 'Avenir', sans-serif;
    font-size: medium
    text-transform: uppercase

}


  /* Image Sizes */

  #Patagonia-Logo {
    width: 105px;
    height: 25%;
    margin-top: 0px;
display: flex;
    align-content: center;
    margin-left: 40px;
    padding-bottom: 10px;
  }

  .container {
    height: 580px;
    width:700px;
    margin: 0 auto;
    z-index: 1;
    border:1px solid black;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-290px;
    margin-left:-350px;
}
.content{
    text-align:center;
    display:flex;
}

#BlueHeart {
  align-items: center;
  max-height: 300px;
  max-width: 300px;
  margin-top: 75px;
  display: block;
  position: relative

}

@media screen and (max-width: 500px) {
  
.col {
  column-count: 1;
  display: flex;
  flex-direction: column;
}

}
