@import url('https://fonts.googleapis.com/css2?family=Molle&family=Oswald:wght@200;500;700&display=swap');
    

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
    body {
        background-color: white;
    }

/****Layout****/

    
    .container { 
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: repeat(12, 1fr);
        width: min(95%, 75em);
        margin: 0 auto;
        padding: 0 20px;
    }

    .container > * {
        grid-column: span 12;
    }

    /*Button styles*/

    a.button {
        display: block;
        padding: 12 20px;
        margin-top: 1em;
        text-decoration: none;
        background-color: cornflowerblue;
        color: #fff;
        text-align: center;
        font-weight: 600;
        border-radius: 4px;
        /* transition: background-color 0.2s ease; */
        transition:
    }

    a.button:hover {
        transform: translateY(10px);
        background-color: rgb(172, 192, 228);

    }

    a.button:active {
        background-color: rgb(58, 106, 195);
    }

    a.button:visited {

    }


    /*Desktop Layout*/

    @media screen and (min-width: 40em) {
        a.button {
            display:inline-block;

        }
.col-span-8 {
    grid-column: span 8;
}
    .col-span-4 {
        grid-column: span 4;
}
    }

    header {
        text-align: left;
        background-color: cornflowerblue;
        color: white;
        padding: 30px 40px;
    }

    h1 {
        text-transform: uppercase;
        font-size: clamp(32px, 4vw, 48px);
    }

    h2 {
        font-size: 36px;

    }

    h3 {
        font-size: 24px;
    }
    
    aside{
        text-align: center;
    }
    

     img{
        width: 100%;
     }   
       
    
    img.circle {
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 999px;
        border: 6px solid cornflowerblue;
    }


        /*Navigation Using Flexbox*/
nav { 
    background-color: #525252;
    padding: 0 1rem;
    display: felx;
    justify-content: center;
    position: sticky;
    top: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

nav li {
    margin: 0 0.5rem;

}

nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1 rem;
    display:block;
    transition: ease-in-out 250ms;
}

nav a:hover {
    background-color: cornflowerblue;
    color: white;
}